/* FOR BLANK PAGES */

/* blank-page {
    height: 72vh;
    display:none;
} */


/* testing */
.test, .try, #test, #try {
    outline:5px solid black;
}



/* ======================================================================================
    TABLE OF CONTENTS
        1. FONTS
        2. CUSTOM PROPERTIES
        3. GLOBAL
        4. CUSTOM COMPONENTS
            4.1 BUTTON
            4.2 NAVBAR
            4.3 FOOTER
            4      
        5. MAIN PAGE
            5.1 HEADER
            5.2 CONTENT
              

======================================================================================*/




/* ======================
        FONTS 
========================*/

 
@font-face {
    font-family: Metropolis-Regular;
    src: url(fonts/Metropolis-Regular.otf);
}

@font-face {
    font-family: Metropolis-Bold;
    src: url(fonts/Metropolis-Bold.otf);
}

@font-face {
    font-family: Metropolis-SemiBold;
    src: url(fonts/Metropolis-SemiBold.otf);
}

@font-face {
    font-family: Metropolis-ExtraBold;
    src: url(fonts/Metropolis-ExtraBold.otf);
}

@font-face {
    font-family: Futura-PT-Book;
    src: url(fonts/FuturaPTBook.otf);
}


@font-face {
    font-family: Futura-PT-Heavy;
    src: url(fonts/FuturaPTHeavy.otf);
}

@font-face {
    font-family: Metropolis-Light;
    src: url(fonts/Metropolis-Light.otf);
}


/* ======================
    CUSTOM PROPERTIES
========================*/
:root {
    --clr-header: #1C012F;
    --clr-border: #707070;
    --clr-content: #f6e9fe;
    --clr-darkSecondary: #DBDBDB;

    --ff-metroBold: Metropolis-Bold, sans-serif;
    --ff-metroLight: Metropolis-Light, sans-serif;
    --ff-metroExtraB: Metropolis-ExtraBold, sans-serif;
    --ff-metroSemiB:Metropolis-SemiBold, sans-serif;

    --ff-futuraHeavy: Futura-PT-Heavy, arial;
    --ff-futuraBook: Futura-PT-Book, sans-serif;

}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input[type="submit"] {
    cursor: pointer;
}

input[type="search"]:focus {
    outline:none;
    border:0 transparent;
}

label, a, p {
    margin: 0;
}

h1,
h2, 
h3,
h4 {
    margin-bottom:0;
}

#debug, .debug {
    outline: 5px red solid;
}

::placeholder{
    color: #C9C9C9;
    font-family: Metropolis-Light, sans-serif;
}

/*  CUSTOM SCROLL BAR  */
::-webkit-scrollbar {
width: 12px;
height: 12px;
opacity: 0.5;
}

/* Track */
::-webkit-scrollbar-track {
background: rgb(100, 100, 100); 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(194, 194, 194); 
border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(255, 255, 255); 
opacity: 1;
}


/* ======================
    GLOBAL
========================*/

* {
    font-family:'Metropolis-Regular', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {

}



/* ======================
    BIG COMPONENTS
========================*/

#etits{
    margin:0;
}
/*  BUTTON  */
.btn-custom-1 {
    font-family: var(--ff-metroBold);
    font-size: 0.9em;
    display:inline-block;
    background: #6804AB;
    text-decoration: none;
    color: white;
    padding:6px 11px;
    border-radius: 9px;
    margin: 12px 18px;
    text-decoration:none;

}

.btn-custom-trans-1:hover{
    filter: brightness(150%);
    color: black;
    transition: filter 0.3s ease-out; 
    transition: color 0.2s ease-out; 
} 


/*  NAVBAR  */
.container-nav {
    background-color: var(--clr-header);
    width: 100%;
    position:fixed;
    margin-top:-58px;
    box-shadow: 0px 0px 10px 2px rgba(104, 4, 171);
    z-index: 10;
}



.logo-link {
    width: 250px;
}

.search-box {
    position:relative;
    background: white;
    border: 1px var(--clr-border) solid;
    height: 30px;
    width: 300%;
    max-width: 400px;
    border-radius: 5em;
    padding:10px;
}

.search {
    font-size:0.9em;
    border:none;
    position:relative;
    top: -7px;
    width: 100%;
    max-width: 350px;
    color:var(--clr-border);
}


.search-icon {
    position:absolute;
    left: 92%;
    top:5px;
    width: 18px;
}


.categories {
    position: relative;
    top: -1px;
    left:15em;
    
    width: 100vw;
    min-width: 50px;
    max-width: 152px;

    padding-top:4px;
    border-radius: 5em;
    padding-left: 8px;
    font-size: 0.9em;  
    height: 31px;
    color: var(--clr-border);
    border: 1px var(--clr-border) solid;
}

.placeholder {
    display:none;
}


nav ul{
    display: inline-block;
    list-style-type: none;
}


nav ul li {
    display: inline-block;
    letter-spacing: 2px;
}


nav ul li a {
    padding: 9px 15px;
    border-radius: 0.8em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    background-color: white;
    color: var(--clr-header);
    text-decoration: none;

}



/*  FOOTER  */
.footer {
    display:block;
    background:#C9C9C9;
    margin: auto 0px;
    padding: 20px;   
    padding-bottom:4px;
    width: 100%;
    font-size:0.95rem;
    height:auto;

}

#footer-mod-1 {
    position:absolute;
    margin-top:-23px;
    padding-top:20px;
    padding-bottom:0px;
    
}


.footer-line {
    background-color: black;
    opacity: 0.5;
    display:block;
    border-radius: 3px;
    width: 100%;
    margin-left: -5px;
    margin:0;
}


.footer .links {
    display:inline-flex;
    margin: 0;
}

.footer .links ul{
    line-height: 18px;
    list-style-type: none;
    margin: 0;

}

.footer .links ul li a{
    text-decoration: none;
    color: var(--clr-border);
    margin: 0;

}

.footer-text {
    padding-top:55px;
    color: var(--clr-border);
    display:block;
    float:right;
    margin: 0;

}






/* ======================
    MAIN PAGE
========================*/


/*  HEADER   */
.header{
    margin-top:58px;
    display:flex;
    position: relative;
    height: 13rem;

}

.header img{
    display:flex;
    float: right;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 0;
    position:absolute;
}

.header .head-title {
    padding-top: 20px;

    display: inline-block;
    color: white;
    position: absolute;
    margin-left: 50px;
}

.header .head-title h2{
    font-family: var(--ff-futuraBook);
    letter-spacing: 1px;
    font-size: 3.125em;
    margin: 0;
    padding: 0;
    font-weight:200;
}

.header .head-title h1{
    margin-top: -16px;
    font-family: var(--ff-futuraHeavy);
    font-size: 4.063em;

}

.header ul{
    display:inline-flex;
    list-style-type: none;
}


.buffer {
    display:flex;
    background: var(--clr-darkSecondary);
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    height: 65;
    margin-bottom: 1em;
}

.buffer h1 {
    display:inline-block;
    font-size: 1.563em;
    font-family: var(--ff-metroSemiB);
    text-align: center;
    margin: 15px  auto ;
    position:relative;
    letter-spacing: 5px;
}


@supports (position:sticky) {
    .sticky-top{
        position: sticky;
    }

}


/*  CONTENT */
.container-content {
    padding-top: 15px;
    max-width: 1080;
    margin: auto;
    height:max-content;
    background: var(--clr-content);
}



.col-1 {
    min-width: 200px;
    max-width: 24%;
    border-radius: 50px;
}

.col-1 img{
    width: 100%;
    border: 4px solid black;
    transition: background 0.5s;
    border-radius: 10px;
}

    /* TRANSITION EFFECTS */
    

    .col-1:hover img {
        opacity: 0.7;  
        transition: opacity 0.4s ease-out; 
    }

    .col-1:hover h2{
        opacity: 0.8;  
        transition: opacity 0.7s ease-out; 
    }

    .col-1:hover ::after img{
        opacity: 1;  
        transition: opacity 0.4s ease-out; 
    }


.col-1 h2{
    background: rgba(0,0,0, .9);
    display:block;
    width: 100%;    
    padding: 10px auto;
    color: white;
    position:relative;
    text-align: center;
    margin-top:-43px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: var(--ff-metroBold);
    font-size: 1.25em;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.col-1 a {
    text-decoration: none;
}





/* ======================
    FOR SINGLE PAGES
========================*/


.second-nav {
    margin-top:3.5em;
    height: 2.8em;
    background: #13011F;
    border-bottom: 3.5px solid var(--clr-border);
    margin-right:0;

}

.second-nav ul {
    padding-top: 10px;
    flex-basis: 100%;
    display:flex;
    justify-content: end;
    list-style-type: none;
    text-align: right;
    
}

.second-nav ul li {
    font-family: var(--ff-metroSemiB);
    margin-right: 2.0em;
    font-weight: 200;
}

.second-nav ul li a{
    color: white;
}




/* ======================
    LOGIN PAGE CONTENT
========================*/


.content-1 {
    position:relative;
    display:flex;
    background: rgb(19,1,31);
    height: 476px;
    
}

.content-1 img {
    display:inline-flex;
    height: inherit;
    width:100%;
    mix-blend-mode: hard-light;
    opacity: 0.8;
    position: absolute;
    object-fit:fill;
    object-position: 60% 50%;
}



.row-2 {
    position:relative;
    width:100%;
    margin-top: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.row-2-mod-1 {
    padding-left: 1px;
    padding-right: 1px;
}


.row-2 h1 {
    font-family: var(--ff-metroExtraB);
    font-size: 2em;
    flex-basis:20%;
    height: inherit;
    min-width: 280px;
    padding: 9.22px 13px;
    padding-left: 18px;
    background: var(--clr-darkSecondary);
    border: 1px var(--clr-border) solid;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 0;
}

.login-text {
    display:block;
    font-size: 1rem;
    margin-left:rem;
    font-weight: bold;
    padding-top: 0;
    margin-top: -0.5rem;
}

.row-text{
    font-size: 0.875rem;
    background: var(--clr-darkSecondary);
    color: black;
    flex-basis:10%;
    min-width: 200px;
    height: inherit;
    padding: 16.5px;
    border: 1px var(--clr-border) solid;
    border-radius: 15px;
    text-align: right;
    float:right;
}

.row-text p{
    padding-bottom: 1px;
    margin-bottom: -8px;
}

.row-2 fieldset {
    padding: 25px;
    padding-left: 30px;
    height: 290px;
    width: 500px;
    background: var(--clr-darkSecondary);
    border: 1px var(--clr-border) solid;
    border-radius: 15px;
}

.row-2 label {
    position: relative;
    font-size: 1.063em;
    margin-bottom: 0;
    margin-left: 3px;
}

.row-2 input {
    font-size: 0.938rem;
    margin-bottom:1em;
    padding:5px 7px;
    border-radius: 8px;
    height: 32px;
    width: 420px;
    border: 1px var(--clr-border) solid;
}

#password {
    margin-bottom:0.313em;
}

.row-2 fieldset a{
    text-align: right;
    float:right;
    margin-right: 1.6rem;
    font-size: 0.9rem;
}

#submit {
    margin-top: 2rem;
    width: 20%;
    margin-left: 2px;;
}

.btn-custom-trans-2:hover {
    filter: brightness(120%);
    transition:filter 0.3s ease-in;
}

.space-1{
    display:inline-block; 
    margin-top: -0.3em;
}


#businesslogin {
    display:none;
}

/* ======================
    REGISTRATION PAGE CONTENT
========================*/


.row-3 {
    display:flex;
    position:relative;
    justify-content: center;
    width:100%;
    height: auto;
}

.row-3 h2 {
    display:flex;
    align-items: center;
    justify-content: center;
    background: #DBDBDB;
    color: black;
    height: 2.3em;
    min-width: 21.2em;
    padding: 16.5px;
    border: 5px black solid;
    border-radius: 15px;
    margin-right: 0.69em;
    font-size: 1.6rem;
    font-family: var(--ff-metroExtraB);
}

.row-3 p {
    position: absolute;
    display: block;
    right:1em;
    font-size: 0.9em;
    margin-top: 0.51em;
    height: 2em;
    width: 20em;
    padding:0.8em;
    padding-top: -4em;
    padding-bottom: 2em;
    text-align: right;
    background: #DBDBDB;
    border: 1px #707070 solid;
    border-radius: 10px;
}

.row-3 p a {
    text-decoration: none;
}

.col-mod-2 {
    margin-top: 0.8em;
    flex-basis: 100%;
    min-width: 200px;
    max-width: 252px;
    margin-right: 1.8%;
    height:285px;
    border-radius: 10px;
    
}

.row-mod-1{
    justify-content:center;
    margin-left: 1.5em;
    flex-basis: 100%;
    padding: auto 80%;
    margin-right:0;
}


.col-mod-2 img {
    opacity: 1;
    object-fit: cover;
    object-position: 100% 50%;
    mix-blend-mode: normal;
    width:16em;
    height: 18em;
    display:block;
    filter: brightness(100%);
    filter:grayscale(100%);

    border: 4px solid black;
    margin-right: 5000px;
    border-radius: 10px;
}


.col-mod-2 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;

    color: white;
    background: rgba(0,0,0, 0.75);
    text-align: center;
    width:inherit;
    height: 2em;

    font-size: 2em;
    font-family: Metropolis-ExtraBold;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

}

.col-mod-2 a {
    text-decoration: none;
}


/* TRANSITION EFFECTS */
    

.col-mod-2:hover img {
    filter:grayscale(0);
    border-color: white;
    transition: filter 0.2s ease-out; 
    transition: border-color 0.2s ease-out; 
    
}

.col-mod-2:hover h2{
    background-color: rgba(255,255,255,0.5);
    color: black;
    transition: background-color 0.2s ease-out; 
    transition: color 0.2s ease-out; 
}

.col-mod-2::after img{
    filter:grayscale(50%);
    transition: filter 0.4s ease-out; 
}



/* ======================
    REGISTRATION PAGE CONTENT
========================*/

/* CUSTOMER */




.row-4 {
    margin-bottom: 10px;
    position: relative;
    display:flex;
    flex-direction: column;
    flex-basis: 20%;
    max-width: 60em;
    margin-top: 0.8em;
    margin-left: 5%;
    margin-right: 10px;
}

.row-text-2 {
    padding: 7px 20px;
    background: #DBDBDB;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px #707070 solid;
}

.row-text-2 h1 {
    font-size: 2.2em;
    font-family: Metropolis-ExtraBold;
    margin-bottom: -10px;
}

.row-text-2 h2 {
    font-size: 1.5em;
    font-family: Metropolis-ExtraBold;
    color: #707070;
    margin-left: 2px;
    margin-bottom: 0;
}


.row-4 form {
    background: #DBDBDB;
    height: 20em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px #707070 solid;
}

.row-4 fieldset {
    display:flex;
    border: none;
    padding: 15px 26px;
    width: 100%;
}

.row-4 .col-form-1 {
    width: 38%;
}



.row-4 label {
    margin-left:1px;
}

.row-4 input, .profEdit, .profPass, .addItem{
    height: 30px;
    padding:5px 7px;
    border-radius: 8px;
    font-size: 0.938rem;
    margin: 5px auto;
    margin-bottom:18px;
    margin-top: 0px;
    border: 1px #707070 solid;
    width: 100%;

}

.row-4 .part2{
    margin-top: -1px;
    margin-left: 3em;
    FLEX: 1;
}

#birthDate {
    width: 100%;
}


.sex {
    margin-left: 20%;
}

.sex select {
    width: 7em;
    height: 30px;
    margin: 5px auto;
    padding:5px 7px;
    border-radius: 8px;
    font-size: 0.938rem;
    margin-top: -0.1rem
}

#birthdate-and-sex {
    display:inline-flex;
    flex:1;
}

#address {
    width: 100%;
}

.row-4 input[type=checkbox] {
    width: 1.1em;
    margin: 0;
    display:inline;
}

.row-4 .col-form-1 input[type=submit]{
    height: 2.3em;
    width:6.2em;
    font-size: 0.95em;
    float: right;
    margin-top: 2em;
    margin-bottom: 0;
}

.check-with-text{
    width: 140%;
    margin-top: -5px;
    margin-left:5px;
}

.check-with-text label{
    display:block;
    font-size: 14px;
    margin-left:1.5rem;
    margin-top: -2.31em;
}


.links-2 {
    margin-top: 5.2em;
    text-align: right;
    font-size: 0.9em;
    margin-right:6px;
}

.links-2 a {
    display: inline-block;
    margin:0;
}



/* BUSINESS */
.mod-1 {
    height:42rem;
}

.mod-1 .row-4 form{
    height: 32em;
}

#textinput-mod1 {
    width: 60%;
}

#businessID {
    border: 0;
    margin-left:-5px;
    height:auto;
    margin-top:-0.3rem;
}

.row-4-mod {
    flex-basis: 20%;
    max-width: 55em;
}

.row-4 .part2-mod{
    width: 100%;
    margin-top: -1px;
    margin-left: 3em;
    padding-top:0.8rem;

}

.row-4 .col-form-1-mod {
    width: 100%;
}

.row-4 .col-form-1-mod {
    width:90%;
    padding-top:0.8rem;
}

#business-mod1 {
    margin: 0;
    width: auto;
}


/* ======================
    CUSTOMER PROFILE PAGE CONTENT
========================*/
.col-buttons {
    padding:0;
    padding-top: 20px;
    background: var(--clr-header);
}

.col-buttons ul {
    list-style-type: none;
    padding:0;
}

.col-buttons ul li{
    margin-top: 1rem;
    text-align: right;
}

.col-buttons a {
    display:block;
    padding: 1rem;
    color:white;
    font-family: var(--ff-metroBold);
    font-weight: bolder;
    font-size: 2.2rem;
}


.profile-button-selected {
    border-right: 0.5rem RGB(27,202,29) solid;
    padding-left: 0;
}

.profile-button-unselected {
    padding-left: 0;
}


.profile-button-selected:hover {
    background: RGB(27,202,29);
    transition:background 0.25s ease-in-out;
}

.profile-button-selected:hover::after {
    background: transparent;
    transition:all 0.25s ease-in-out;
}


.profile-button-unselected:hover {
    border-right: 0.5rem var(--clr-border) solid;
    background: var(--clr-border);
    transition:border-right 0.2s ease-in-out;
    transition:background 0.25s ease-in-out;
}

.profile-button-unselected:hover ::after {
    border-right: none;
    background: transparent;
    transition:all 0.25s ease-in-out;

}


.content-bg{
    background: #edd3fe;
}

.custo-info {
    margin-top:3em;
    color:black;
}

.custo-info h4, .change-password h2{
    font-family: var(--ff-metroBold)
} 

.custo-info p {
    padding-top:-1.4em;
    padding-top:0;
    font-family: var(--ff-metroLight)

}

.hr-underline{
    background: black;
    color: black;
    height: 5px;
    border-radius: 5px;
    margin: 0;
    width:12rem;
    opacity: 0.2;
}

.links-profile {
    margin-left: -1rem;
    padding-bottom: 2rem;
}

.links-profile ul {
    list-style-type: none;
}

.links-profile ul li {
    display: inline-block;
    
}

.divider-1 {
    margin:1.5rem auto;
    background: rgba(0,0,0, .1);
    height: 2px;

}


.container-pos{
    /* margin:2rem; */
    margin-top: 3.2rem;
    padding-left: 5rem;
}

.column-card{
    display:block;
    background:white;
    margin-right: 3rem;
    padding: 5px;

    box-shadow: 0px 0px 1rem 0.5px gray ;
    
}

.show-items{
    margin: 0.4rem auto;
    margin-left: 1rem;
    
}


.row-business-name {
    padding-left: 1rem;
    
}

.divider-mod-1 {
    margin:0;
    
}

.row-order-brief {
    margin: 1rem 1rem;
    font-size: 0.9rem;
    
}

.row-order-brief img {
    width: 6rem;
    height: 5rem;
    object-fit: cover;
    object-position: 50% 50%;
    outline: 1px black solid;
    margin-right:0;
}

.order-item-name {
    line-height: 1.5ch;
}

.link-black-none{
    color: black;
}

.link-black-none:hover{
    color: black;
}


.profEdit {
    width: 80%;
}

.profBday {
    width:40%;
}

.profSex {
    width: 20%;
}

.profNum{
    width: 50%;
}

.profAddress {
    width: 110%
}

.profEdit, .btn-save  {
    display: none;
}

#content-change-password {
    display:none;
}

.divider-mod-2 {
    background-color: black;
    opacity: 0.5;
    height: 5px;
    width: 50%;
}

.profPass {
    width: 20%;
    margin-left: 0;
}

.divider-mod-3 {
    width: 50%;
    margin-left: 0;
}

.btn-log-out {
    color:white;
    background:rgb(34, 34, 34);
    position: absolute;
    right: 0;
}

.btn-log-out:hover{
    background:red;
    transition: background 0.2s ease-in;
}

.btn-profile {
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

/* ======================
    CUSTOMER PROFILE PAGE CONTENT
========================*/
#btn-transaction {
    font-size:1.65rem; 
    padding-top: 0.9em; 
    padding-bottom: 0.9em;
    padding-left:0;
}

.title-invent {
    font-family: var(--ff-metroBold);
    margin-bottom: 0;
}

.massive-mb-0 {
    margin-bottom: 110%;
}

.massive-mb {
    margin-bottom: 30%;
}

.add-item-pic {
    height:11em;
    width:11em;
    object-fit: cover;
    border: 2px var(--clr-header) solid;
    box-shadow: 0px 0px 1rem 0.5px gray;
}

#inputImg{
    display:none;
}

.input-img, .inputImg label {
    margin:0;
}


#link-for-img {
    text-align: center;
    cursor: pointer;
}

.input-img {
    margin-top: -0.5rem;
    display:block;
    margin-right:0;
}

.addItem {
    width: 60%;
    margin-bottom: 1rem;
    margin-left:0;
}

.addlabel {
    display: inline-block;
    width: 7rem;
}

.add-select-box{
    width: 40%;
}

.descText{
    padding:5px 7px;
    border-radius: 8px;
    font-size: 0.938rem;
    margin-bottom:18px;
    margin-top: 0px;
    border: 1px #707070 solid;
}

.btn-add {
    background: rgb(23, 166, 24);
    padding: 1rem 3rem;
    margin-right:9%;
}

.btn-add:hover{
    background: RGB(27,202,29);
    transition: background 0.3s ease-in-out
}
